NODE_ENV="development"
PORT=your_port
JWT_SECRET=your_secret
MONGO_URI=mongodb://mongo_db:27017/your_db
QUEUE_NAME=queue
RABBITMQ_DEFAULT_USER=your_userName     #for local access
RABBITMQ_DEFAULT_PASS=your_password
MESSAGE_BROKER_URL=amqp://your_userName:your_password@rabbit_mq:5672

